<div class="container">
    <div class="row">
        {{#unless user}}
        <div class="col">
            <div class="jumbotron mt-4">
                <h1 class="display-4">Notes academy</h1>
                <p class="lead"> Plataforma de notas online </p>
                <hr class="my-4">
                <p>Página creada para crear y compartir notas enfocadas en un área estudiantil, facilitar la
                    comunicación
                    entre
                    profesores y alumnos!</p>
                <a href="/twitter" class="btn btn-primary btn-lg">Twitter</a>
            </div>
        </div>
        <div class="col">
            {{> signin}}
        </div>
        {{else}}
        <div class="container mb-3">
            <h1 style="color:white">NOTAS PUBLICAS</h1>
        </div>
        {{#each notes}}
        {{#if private}}
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="card-header">

                            {{ day }}/{{ month }}/{{ year }}

                        </div>
                    </div>
                    
                </div>
                
                <div class="card-body">
                    
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        {{ title }}
                    </h5>
                    
                    <p>{{description}}</p>
                    <p>- <a href="http://localhost:3000/users/profile/{{user}}" style="color: rgb(22, 154, 158);"> {{author}}</a></p>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
        {{/unless}}
    </div>
</div>